body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.backgroundImage {
    position: absolute;
    height: 50vh;
    width: 50vb;
    text-align: center;
    z-index: -1;

    background-image: url(bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(4px);
}

.container {
    background-color: transparent;

    height: 50vh;
    width: 50vb;
    text-align: center;

    border: 5px solid transparent;
    border-image: linear-gradient(to right, black, rgb(8, 8, 161));
    border-image-slice: 1;

    box-shadow: 20px 20px 10px rgba(128, 128, 128, 0.609);
}

.container h1 {
    background: linear-gradient(to right, aqua, 40px, black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.container input {
    height: 30px;

    border: 4px solid transparent;
    border-image: linear-gradient(to right, black, 100%, transparent);
    border-image-slice: 1;
    border-radius: 5px;

    font-size: 15px;
    color: black;
    background-color: transparent;

}

.container button {
    height: 40px;
    background-color: transparent;
    color: black;
    border-radius: 5px;
    border: 4px solid black;
    font-family: sans-serif;

    border-image: linear-gradient(to left, black, 70%, transparent);
    border-image-slice: 1;
}